.InfoHeader {
    padding: 10px 20px;
    height: 212px;
    /*background-color: #aaa;*/
    display: flex;
}

.InfoLogo {
    width: 200px;
    display: flex;
    flex-direction: row;
}

.InfoCart {
    width: 180px;
}